/* Generic style */

html, body {
    height: 100%;
    overflow: auto;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}

.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.footer {
    background-color: whitesmoke;
    border-top: 1px dashed grey;
    padding: 5px 20px;
    text-align: center;
}

.footer span {
    color: grey;
    font-size: 0.7em;
}

.search {
    height: 45px;
    width: 550px;
    position: relative;
    margin: 0 auto;
}

#query {
    height: 100%;
    width: 450px;
    padding: 0px;
    font-size: 1em;
}

#submitbutton {
    position: relative;
    height: 35px;
    width: 60px;
    padding: 0px;
    margin: 0 15px;
}

/* Main page style */

.wrap{
    position: relative;
    top: 50%;
    margin-top: -120px;
    margin-bottom: -30px;
    width: 100%;
}

.bottom {
    width: 100%;
    position: fixed;
    bottom: 0;
}

.header {
    width: 550px;
    padding: 0px;
    margin: 0 auto 5px auto;
}

.header h1 {
    font-size: 60px;
    margin: 0px;
    padding: 0px;
}

/* Result page style */

.header-search {
    background-color: whitesmoke;
    border-bottom: 1px dashed grey;
}

.header-search h1 {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

.header-search h1 a {
    text-decoration: none;
}

.header-search .search {
    display: inline-block;
    margin: 0;
}

.results {
    margin: 20px 0 50px 100px;
}

.result-info {
    color: grey;
    display: block;
    margin-bottom: 20px;
}

.query-str {
    color: firebrick;
}

.result {
    position: relative;
    width: 100%;
    margin: 20px 0;
}

.result .score {
    color: darkred;
    float: left;
    display: block;
    margin-right: 40px;
    font-size: 0.8em;
    line-height: 2em;
}

.result .details {
    float: left;
}

.result span {
    display: block;
}

.result a.title {
    display: block;
    color: #1a0dab;
    text-decoration: none;
    font-size: 1.2em;
}

.result a.title:hover {
    text-decoration: underline;
}

.result .url {
    font-size: 0.8em;
    color: #006621;
}

.result a.similar {
    font-size: 1.1em;
    text-decoration: none;
    color: #1a0dab;
    padding-left: 0.5em;
}

.result a.similar:hover {
    text-decoration: underline;
}

.result .meta-info {
    font-size: 0.9em;
    color: dimgrey;
}

.result .keywords {
    font-size: 0.9em;
    color: darkgrey;
}

.result .keywords a.keyword {
    text-decoration: none;
    color: sienna;
}

.result .keywords a.keyword:hover {
    text-decoration: underline;
}

.result .popup {
    display: inline-block;
    margin-right: 15px;
}

.result .popup span.name::after {
    content: "\25BC";
    padding-left: 0.25em;
    font-size: 0.7em;
}

.result .popup span {
    font-size: 0.8em;
    color: #006621;
}

.result .popup span.name {
    font-size: 0.9em;
}

.popup { 
    position: relative;  
    cursor: pointer;
}

.popup .popup-details { 
    display: none;  
    position: absolute;  
    top: 22px;  
    left: 0px;   
    background-color: whitesmoke;
    padding: 8px 22px 8px 8px;
    z-index: 100;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 3px;
    max-height: 100px;
    min-width: 100%;
}

.popup:hover {
    background-color: whitesmoke;
    padding: 5px;
}

.popup:hover span.name {
    font-weight: bold;
}

.popup:hover .popup-details { 
    display: block
}
